<h1>All bouts</h1>
<ul id="bouts">

  <% @bouts.each do |bout| %>
    <li><%= link_to "Bout bout.id ", bout_path(bout) %></li>
      <ul>
        <% bout.options.order(created_at: :desc).each do |option| %>
        


        <% end %>
      </ul>
  <% end %>
</ul>

<%= link_to "New Bout", new_bout_path, id: "new_bout_link", class:"btn btn-default", remote: true %>
