<h1>All Bouts:</h1>

<% @bouts.each do |bout| %>
  <%= bout.name %>
  <%= bout.options.each do |option| %>
    <%= option.name %>
  <% end %>
<% end %>

<%= link_to "New Bout", new_bout_option_path, id: "new_bout_option", remote: true %>
